@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.second-color {
  color: #f38597;
}

.bg {
  background-color: rgba(173, 236, 176, 0.2392156863);
}

.bx-menu {
  color: #000;
}

.navbar {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

nav .nav-item a:hover {
  color: #f38597 !important;
}

.encabezado-img {
  background-image: url(../img/portada.jpg);
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #000;
}

.encabezado-img h1 {
  margin-top: 100px;
  font-size: 50px;
  margin-right: 100px;
}

.encabezado-img p {
  margin-top: 50px;
  font-size: 35px;
  margin-right: 50px;
}

@media (max-width: 800px) {
  .encabezado-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .encabezado-img h1 {
    font-size: 45px;
  }
  .encabezado-img p {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .encabezado-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .encabezado-img h1 {
    justify-content: left;
    font-size: 35px;
  }
  .encabezado-img p {
    justify-content: left;
    font-size: 18px;
    margin-top: 0px;
  }
}
/*BODY*/
body {
  background: rgba(206, 224, 213, 0.5098039216);
  font-family: "Monserrat", sans-serif;
}
body .titulo-galeria {
  font-size: 30px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.card {
  background: rgba(147, 148, 146, 0.1647058824);
  box-shadow: 0 6px 20px 2px rgba(132, 132, 132, 0.415);
  border-radius: 1rem;
}
.card .card-tittle {
  text-decoration: none;
}
.card .nombre-categoria {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #1c1c1c;
  background: rgba(182, 194, 185, 0.4);
  text-align: center;
}

.card:hover {
  border: 1px solid rgba(152, 174, 161, 0.737254902);
  transform: matrix(-3deg);
}

@media (max-width: 1145px) {
  .nombre-categoria {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .nombre-categoria {
    font-size: 15px;
  }
}
@media (max-width: 680px) {
  .nombre-categoria {
    font-size: 12px;
  }
}
@media (max-width: 570px) {
  .nombre-categoria {
    font-size: 0px;
  }
}
.titulo-destacados {
  margin: 20px;
}

.titulo-productos {
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}

.sub-titulo {
  font-size: 20px;
  background-color: rgba(182, 194, 185, 0.4);
  padding: 10px 5px;
}

.btn {
  border-color: black;
  color: black;
}

.btn:hover {
  border-color: black;
  background-color: rgba(243, 213, 218, 0.8705882353);
}

.titulo-cuidados {
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}

.titulo-texto {
  text-decoration: underline;
  font-size: 22px;
  padding: 40px 0 10px 0;
}

.parrafo {
  text-align: justify;
  margin: 10px 80px;
}

.titulo-nosotros {
  font-size: 30px;
  text-decoration: underline;
  padding: 10px;
}

.p-nosotros {
  margin: 10px 80px;
  text-align: justify;
}

.card-nosotros {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}
.card-nosotros .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card-nosotros .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.card-nosotros .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-nosotros .front .nombre-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #d544d5;
  background: rgba(182, 194, 185, 0.4);
  text-align: center;
}
.card-nosotros .back {
  transform: perspective(600px) rotateY(180deg);
  background: linear-gradient(135deg, rgba(206, 224, 213, 0.5098039216), rgba(255, 192, 203, 0.9137254902));
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5 10px #000;
}
.card-nosotros .back .link {
  border-top: solid 1px #e88ce8;
  height: 50px;
  line-height: 50px;
}
.card-nosotros .back .link a {
  color: #a036a0;
  font-size: 20px;
}
.card-nosotros .back .nombre-card {
  font-size: 28px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.card-nosotros .back p {
  font-size: 13px;
  letter-spacing: 1px;
}

.card-nosotros:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card-nosotros:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.body {
  background: rgba(206, 224, 213, 0.511);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: "Monserrat";
}

.subtitulo {
  text-align: center;
  align-items: center;
  margin-top: 100px;
  font-size: 25px;
}

.formulario {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
}

.form {
  align-items: left;
  width: 600px;
  margin: auto;
  background: rgba(148, 225, 178, 0.2470588235);
  box-shadow: 0 4px 8px 0 rgba(76, 79, 78, 0.1137254902), 0 6px 20px 0 rgba(79, 76, 76, 0.4117647059);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 7px;
  color: #000;
}

.titulo-contacto {
  color: rgb(243, 133, 151);
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: none;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  display: flex;
  width: 100px;
  height: 55px;
  margin-left: 220px;
  background: #fac5ce;
  color: #000;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

@media (max-witdth: 480px) {
  form {
    width: 100%;
  }
}
/*MAPA*/
.titulo-map {
  margin: 30px 20px;
}

.mapa {
  margin: 25px 25px;
}

.mapa iframe {
  width: 800px;
  height: 450px;
}

footer {
  background-color: rgba(173, 236, 176, 0.2392156863);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.frase {
  font-size: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.frase p {
  font-size: 18px;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pie a {
  color: #000;
}

.pie h3 {
  text-decoration: underline;
}

.pie ul {
  list-style: none;
}

.pie ul li a {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pie a:hover {
  color: #f38597;
}

/*# sourceMappingURL=style.css.map */
