.titulo-cuidados{
    font-size: 30px;
    text-decoration: underline;
    padding: 10px;
}
.titulo-texto{
    text-decoration: underline;
    font-size: 22px;
    padding: 40px 0 10px 0;
}
.parrafo{
        text-align: justify;
        margin: 10px 80px;
    }

