.titulo-destacados{
    margin: 20px;
}
.estrella{
    font-size: 1.3rem;
    color:  #e3a4af;
    padding-bottom: 10px;
}

.btn{
    background: #000000d6;
    color: #fff;
    border-color: #000;
}
.btn:hover{
    background: #dbadb5f3;
    border-color: #c9848f;
    color: #000;
}
.adicional{
    h2{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
        background-image: linear-gradient(46deg, #2b862b , #e59ca8, #2b862b, #e59ca8);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
    }
    p{
        padding-bottom: 20px;
    }
}