.second-color{
    color: #f38597;
}
.bg{
    background-color: #adecb03d;
  }
  .bx-menu{
    color: #000;
  }
  .navbar{
    padding: 0;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  
  nav .nav-item a:hover{
    color: #f38597 !important
  }
