.titulo-productos{
    font-size: 30px;
    text-decoration: underline;
    padding: 10px;
}
.sub-titulo{
    font-size: 20px;
    background-color: #b6c2b966;
    padding: 10px 5px;
}
.btn{
    border-color: black;
    color: black;
}
 .btn:hover{
    border-color: black;
    background-color: #f3d5dade;
 }